* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  background: black;
  background-size: cover;
  background-image: url('./assets/cinema.webp');
}

.container {
  font-size: 1rem;
  width: 90vw;
  max-width: 37.5rem;
  padding: 3rem 1.8rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 0.5rem;
}

.search-container input {
  color: whitesmoke;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-container input:focus {
  outline: none;
  border: 1px solid #b8007c;
}

#search-btn {
  color: whitesmoke;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.1s;
}

#search-btn:hover {
  background: rgba(31, 0, 21, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#search-btn:active {
  background: rgba(255, 0, 127, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin-top: 1.2rem;
  color: whitesmoke;
}

.poster {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin: 0.6rem 0 0.9rem 0;
}

.rating img {
  width: 1.2rem;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  gap: 1rem;
  margin: 0.6rem 0;
  font-weight: 300;
  color: rgba(167, 57, 57);
}

.genre {
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid rgb(148, 0, 153);
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0.4rem 1.6rem;
  background: rgba(87, 0, 90, 0.473);
  border-radius: 1rem;
}

h3 {
  color: whitesmoke;
  font-weight: 500;
  margin-top: 1.2rem;
}

p {
  color: whitesmoke;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: justify;
}

.poster {
  border-radius: 1rem;
}

.msg {
  color: whitesmoke;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }

  .info {
    grid-template-columns: 1fr;
  }
}
